/* Typography */

h2 {
  font-size: 2rem;
  font-family: "Karla";
  color: white;
}

p {
  font-size: 1rem;
  font-family: "Karla";
  color: white;
  text-align: left;
}

h1 {
  font-size: 4rem;
  font-family: "Fraunces";
  color: white;
}

body {
  /* overflow: hidden; */
  /* padding-top: 3rem; */
  background-color: #1c3334;
  margin: 0;
  height: 100vh;
  /* remove this margin if it is in nor alize. but this is to avoid the jupmp */
}

/* portfolio logo load */

/* .overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999; 
} */

.logo-container {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center */
  animation: spin 3s ease-in-out forwards, moveToTopLeft 2s ease forwards 2s; /* Spin and then move */
}

.logo {
  width: 100px; /* Adjust size as needed */
  animation: scaleUp 3s ease-in-out forwards, scaleDown 3s ease forwards 2s;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes moveToTopLeft {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    top: 20px; /* Adjust to your desired top position */
    left: 20px; /* Adjust to your desired left position */
    transform: translate(0, 0) rotate(360deg); /* Final position */
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  100% {
    transform: scale(6); /* Scale up to 1.5 times */
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.5); /* Start from the scaled-up size */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

/* mobile nav */

.mobile-bottom-nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  height: 10rem;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: black;
  color: white;

  .home-icon {
    width: 6rem;
    height: auto;
    filter: brightness(0) invert(1);
    margin: 1rem;
  }

  .portfolio-icon {
    width: 6rem;
    height: auto;
    filter: brightness(0) invert(1);
    margin: 1rem;
  }

  .about-icon {
    width: 6rem;
    height: auto;
    filter: brightness(0) invert(1);
    margin: 1rem;
  }

  .contact-icon {
    width: 6rem;
    height: auto;
    filter: brightness(0) invert(1);
    margin: 1rem;
  }

  &__item {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item--active {
    color: red;
  }
  &__item-content {
    display: flex;
    flex-direction: column;
  }
}

/* navbar  */

/* do flex for the desktop */
/* sticky for mobile */
/* position 0 */

/* main div, with 2 sections inside of it */

/* title fonts*/

.firstname {
  font-family: "Faunces";
  font-size: 5rem;
  color: white;
}

.lastname {
  font-family: "faunces";
  font-size: 5rem;
  color: white;
}

.left {
  position: sticky;
  top: 0;
  height: 40vh;
  width: 100%;
  padding: 1rem;
}

.right {
  position: relative;
  width: 100%;
  /* background-color: white; */
  /* padding: 1rem; */
  height: 100vh;
}

.right img {
  top: 0;
}

.site {
}

/* @media (min-width: 56em) {
  .fullpage {
    display: flex;
  }
} */

/* desktop navbar  */

.navbar {
  background-color: #1c3334;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 10;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
}

.navbar ul {
  list-style-type: none;
  background-color: #1c3334;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #2b4e50;
}

.navbar li {
  float: right;
}

/* add padding  */

.fullpage {
  position: relative;
  top: 0;
  width: 100%;
  /* height: 100vh;
  position: sticky;
  top: 0;
  width: 100%; */

  /* at media dispay glex  */
}

/* project image container hover and style for desktop */

.container {
  position: relative;
  width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  padding: 2rem;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #376e6f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* project image section */

.project-one {
  background-color: #475353;
  width: 100%;
}

.projects-background {
  background-image: url("images/colour-gradient.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Center the image */
  padding: 20px; /* Add padding if necessary */
  color: white; /* Change text color for visibility */
  height: 100vh;
}
